

/* Nav bar */

.hidden-arrow.dropdown-toggle::after {
  display: none;
}
.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.badge-notification {
  position: absolute;
  font-size: .6rem;
  margin-top: -.1rem;
  margin-left: -.5rem;
  padding: .2em .45em;
}

.dropdown-menu.animation {
  display: block;
  animation-duration: .55s;
  animation-timing-function: ease;
}
